<!DOCTYPE html>
<html>

<head>
    <link href=../css/academyLabHeader.css rel=stylesheet>
    <link href=../css/labs.css rel=stylesheet>
    <title>User role controlled by request parameter</title>
</head>

<body>
    {{!--
    <script src="/resources/labheader/js/labHeader.js"></script>
    <div id="academyLabHeader">
        <section class='academyLabBanner'>
            <div class=container>
                <div class=logo></div>
                <div class=title-container>
                    <h2>User role controlled by request parameter</h2>
                    <a class=link-back
                        href='https://portswigger.net/web-security/access-control/lab-user-role-controlled-by-request-parameter'>
                        Back&nbsp;to&nbsp;lab&nbsp;description&nbsp;
                        <svg version=1.1 id=Layer_1 xmlns='http://www.w3.org/2000/svg'
                            xmlns:xlink='http://www.w3.org/1999/xlink' x=0px y=0px viewBox='0 0 28 30'
                            enable-background='new 0 0 28 30' xml:space=preserve title=back-arrow>
                            <g>
                                <polygon points='1.4,0 0,1.2 12.6,15 0,28.8 1.4,30 15.1,15'></polygon>
                                <polygon points='14.3,0 12.9,1.2 25.6,15 12.9,28.8 14.3,30 28,15'></polygon>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class='widgetcontainer-lab-status is-notsolved'>
                    <span>LAB</span>
                    <p>Not solved</p>
                    <span class=lab-status-icon></span>
                </div>
            </div>
    </div>
    </section>
    </div> --}}
    <div theme="">
        <section class="maincontainer">
            <div class="container is-page">
                {{!-- <header class="navigation-header">
                    <section class="top-links">
                        {{#if (isdefined lab)}}
                        <a href={{lab}} />Home</a>
                        {{else}}
                        <a href= />Home</a>
                        {{/if}}
                        <p>|</p>
                        {{#if (isdefined lab username)}}
                            {{#if (checkLab lab)}}
                            <a href="{{lab}}/my-account">My account</a>
                            {{else}}
                            <a href="{{lab}}/my-account?id={{username}}">My account</a>
                            {{/if}}
                        {{else}}
                        <a href="/my-account?id=wiener">My account</a>
                        {{/if}}
                        <p>|</p>
                        <a href="{{lab}}/logout">Log out</a>
                        <p>|</p>
                    </section>
                </header>
                <header class="notification-header">
                </header> --}}
                {{> header}}
                <h1>My Account</h1>
                <div id=account-content>
                    {{#if (isdefined lab username)}}
                        {{#if (checkLab lab)}}
                        <p>Your username is: wiener</p>
                        {{else}}
                        <p>Your username is: {{username}}</p>
                        {{/if}}
                    {{/if}}
                    <p>Your email is: <span id="user-email">hasgd@ashdg.asd</span></p>
                    <form class="login-form" name="change-email-form" action="/my-account/change-email" method="POST">
                        <label>Email</label>
                        <input required type="email" name="email" value="">
                        <input required type="hidden" name="csrf" value="KG0EaKbOXnLYCmOoSG3L3WVmIsA7fBxl">
                        <button class='button' type='submit'> Update email </button>
                    </form>
                </div>
            </div>
        </section>
        <div class="footer-wrapper">
        </div>
    </div>
</body>

</html>